---
import * as R from 'ramda';
import { Image } from 'astro:assets';

import { getTagMap, type Article } from '../lib/data';
import ContentLayout from '../layouts/ContentLayout.astro';
import rssIcon from '../assets/icons/rss.svg';

const tagMap = await getTagMap();
---
<ContentLayout title="All tags">
    <h1 class="text-center tracking-wide text-6xl font-bold mb-8">Tags</h1>
    <div>

    { //@ts-ignore
    R.toPairs(tagMap).map(([tag, articles]: [string, Article[]]) =>
        <h4>
            <a class="badge badge-outline" href={`/tag/${tag}`}>{tag}</a>
            <a href={`/rss/${tag}.xml`}>
                <Image class="inline" width="16" height="16" src={rssIcon} alt="RSS"/>
            </a>
        </h4>
        <div>
            <ul class="list-disc ml-6 mb-4">
                {articles.map(article => 
                    <li><a href={`/article/${article.slug}`}>{article.data.title}</a></li>
                )}
            </ul>
        </div>
    )}
    </div>
</ContentLayout>